html, body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
}

.MainContentHolder {
    min-height: 100vh;              /* на всю высоту экрана */
    display: flex;
    flex-direction: column;
    justify-content: center;        /* по вертикали по центру */
    align-items: center;            /* по горизонтали по центру */
}

/* Заголовок */
.HeaderSection {
    text-align: center;
    margin-bottom: 40px;
}

.HeaderSection h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.HeaderSection h2 {
    font-size: 28px;
}

/* Блок с именами и почтами: 2 колонки */
.MembersNames,
.MembersMails {
    display: flex;
    justify-content: space-between;
    width: 430px;       /* подбери под себя */
    font-size: 16px;
}

.MembersMails {
    margin-bottom: 50px;
}

/* Кнопки снизу */
.SectionHolder {
    display: flex;
    gap: 40px;
}

.SectionHolder div {
    background-color: #e0dedb;
    border-radius: 999px;
    padding: 10px 30px;
    font-size: 16px;
}

.SectionHolder a,
.SectionHolder p {
    text-decoration: none;
    color: #1E2528;
}