:root {
    --bg-main: #C9942E;
    --text-dark: #1E2528;
}

/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
    background-color: var(--bg-main);
}

/* ВЕСЬ первый экран по центру */
.MainContentHolder {
    min-height: 100vh;              /* на всю высоту окна */
    display: flex;
    flex-direction: column;
    justify-content: center;        /* центр по вертикали */
    align-items: center;            /* центр по горизонтали */
}

/* Заголовок */
.HeaderSection {
    text-align: center;
    margin-bottom: 40px;
}

.HeaderSection h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.HeaderSection h2 {
    font-size: 28px;
}

/* Имена и почты — две колонки */
.MembersNames,
.MembersMails {
    display: flex;
    justify-content: space-between;
    width: 430px;      /* можно подогнать */
    font-size: 16px;
}

/* убираем лишние внутренние отступы у <p> */
.MembersNames p,
.MembersMails p {
    margin: 0;
}

.MembersMails {
    margin-bottom: 50px;
}

/* Кнопки снизу */
.SectionHolder {
    display: flex;
    gap: 40px;
}

.SectionHolder div {
    background-color: #e0dedb;
    border-radius: 999px;
    padding: 10px 30px;
    font-size: 16px;
}

.SectionHolder a,
.SectionHolder p {
    text-decoration: none;
    color: #1E2528;
}
