:root {
    --bg-main: #C9942E;
    --text-dark: #1E2528;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
    background-color: var(--bg-main);
}


/* MainSection */
.MainContentHolder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;

    padding-top: 12vh;
    padding-bottom: 4vh;   
}
.HeaderSection {
    text-align: center;
    margin-bottom: 3rem;
}
.HeaderSection h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
.HeaderSection h2 {
    font-size: 2.5rem;
}


.MembersNames,
.MembersMails {
    display: flex;
    justify-content: space-between;
    width: 90vh;           
    font-size: 1.5rem;
}

.MembersNames p,
.MembersMails p {
    margin: 0;
    text-align: left;
}

.MembersMails {
    margin-top: 0.3rem;
    margin-bottom: 2rem;    
}

/* Buttons */
.SectionHolder {
    display: flex;
    gap: 40px;

    margin-top: auto;
}

.SectionHolder div {
    background-color: #e0dedb;
    border-radius: 999px;
    padding: 0.7rem 2.3rem;
    font-size: 2rem;
}
.SectionHolder div:hover {
    background-color: #c7c5c2;
    cursor: pointer;
}
.SectionHolder a,
.SectionHolder p {
    text-decoration: none;
    color: #1E2528;
}
.SectionHolder div.activeButton {
    background-color: #c7c5c2;
}


/** Decription Part **/
    /**Visibility**/
    .HolderD,
    .BugReportSection {
        background-color: #e0dedb;
        display: none;
    }
    .HolderD.activePart,
    .BugReportSection.activePart {
        display: block;
    }


.DescriptionSection, .DatabaseDescrHolder{
    max-width: 1200px;        
    margin: 0 auto;          
    padding: 3rem 1rem 0;     
}


.DescText {
    text-align: center;  
    font-weight: bold;     
    margin-bottom: 2rem;      
}
.DescText p {
    max-width: 800px;         
    margin: 0 auto 0.75rem;  
}


.contentBlock1, .contentBlock3, .contentBlock5{
    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}
.contentBlock2, .contentBlock4, .contentBlock6{
    flex-direction: row-reverse;

    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}
.contentBlock1 .text1, .contentBlock2 .text2, .contentBlock3 .text3, .contentBlock4 .text4, .contentBlock5 .text5, .contentBlock6 .text6 {
    flex: 1;                  
}
.contentBlock1 .img1, .contentBlock2 .img2, .contentBlock3 .img3, .contentBlock4 .img4, .contentBlock5 .img5, .contentBlock6 .img6 {
    flex: 0 0 30%;           
    max-width: 30%;
}
.contentBlock1 .img1 img, .contentBlock2 .img2 img, .contentBlock3 .img3 img, .contentBlock4 .img4 img, .contentBlock5 .img5 img, .contentBlock6 .img6 img {
    width: 120%;
    height: auto;
    display: block;
    object-fit: cover;
}

/** Divider **/
.DividerOfDescription{
    width: 80%;
    height: 2px;
    background-color: var(--bg-main);
    margin: 4rem auto 0;
}

/**Description FireBase**/
.DescText {
    text-align: center;  
    font-weight: bold;     
    margin-bottom: 2rem;      
}
.DescText p {
    max-width: 800px;         
    margin: 0 auto 0.75rem;  
}


.Database1{
    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}

.Database2{
    flex-direction: row-reverse;

    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}
.Database1 .textD1, .Database2 .textD2 {
    flex: 1;                  
}
.Database1 .imgD1, .Database2 .imgD2 {
    flex: 0 0 30%;           
    max-width: 30%;
}
.Database1 .imgD1 img, .Database2 .imgD2 img {
    width: 120%;
    height: auto;
    display: block;
    object-fit: cover;
}

/** Bug Report**/
.HolderB{
    max-width: 1200px;        
    margin: 0 auto;          
    padding: 3rem 1rem 0;   
}

