:root {
    --bg-main: #C9942E;
    --text-dark: #1E2528;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-dark);
    background-color: var(--bg-main);
}


/* MainSection */
.MainContentHolder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;

    padding-top: 12vh;
    padding-bottom: 4vh;   
}
.HeaderSection {
    text-align: center;
    margin-bottom: 3rem;
}
.HeaderSection h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
.HeaderSection h2 {
    font-size: 2.5rem;
}


.MembersNames,
.MembersMails {
    display: flex;
    justify-content: space-between;
    width: 90vh;           
    font-size: 1.5rem;
}

.MembersNames p,
.MembersMails p {
    margin: 0;
    text-align: left;
}

.MembersMails {
    margin-top: 0.3rem;
    margin-bottom: 2rem;    
}

/* Buttons */
.SectionHolder {
    display: flex;
    gap: 40px;

    margin-top: auto;
}

.SectionHolder div {
    background-color: #e0dedb;
    border-radius: 999px;
    padding: 0.7rem 2.3rem;
    font-size: 2rem;
}
.SectionHolder div:hover {
    background-color: #c7c5c2;
    cursor: pointer;
}
.SectionHolder a,
.SectionHolder p {
    text-decoration: none;
    color: #1E2528;
}

/** Decription Part **/

.HolderD{
    background-color: #e0dedb;
}

.DescriptionSection {
    max-width: 1200px;        
    margin: 0 auto;          
    padding: 3rem 1rem 0;     
}


.DescText {
    text-align: center;  
    font-weight: bold;     
    margin-bottom: 2rem;      
}
.DescText p {
    max-width: 800px;         
    margin: 0 auto 0.75rem;  
}


.contentBlock1 {
    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 2rem;
    margin-top: 6rem;
}
.contentBlock1 .text1 {
    flex: 1;                  
}
.contentBlock1 .img1 {
    flex: 0 0 30%;           
    max-width: 30%;
}
.contentBlock1 .img1 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



